body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100%;
  margin: 0;
}

html {
  height: 100%;
}

.narrow{
  width: 100%;
}

.tracker_info{
  padding: 0px;
  background-color: antiquewhite;
  width: 900px;
}

.tracker_map{
  width: 900px;
  height: 450px;
}

.choose_satellite{
  width: 900px;
  background-color: antiquewhite;
}

.container{
  position:relative;
  padding:0px;
  height: 100%;
  width: 100%;
}

.header{
  background-color: rgb(74, 93, 112);
  padding: 10px;
  color: white;
  margin: 0;
  height: 60px;
  line-height: 60px; /* same as height! */
}

/* Style the logo link (notice that we set the same value of line-height and
font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 35px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding-right: 30px;
  text-align: center;
  width: 100%;
}

.header a.logo:hover{
  color: black;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 0px;
  background-color: #f1f1f1;
  height: 100%;
  overflow: auto;
  position: fixed;
  padding-top: 60px;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 0px;
  height: 40px;
  width: 40px;
  font-size: 45px;
  margin-left: 50px;
  background-color: #f1f1f1;
  text-align: center;
  line-height: 40px; /* same as height! */
}

.sidebar .closebtn:hover{
  color: red;
  background-color: #f1f1f1;
  cursor: pointer;
}

.open_nav{
  border: None;
  width: 32px;
  background-color: rgb(74, 93, 112);
  font-size: 30px;
  margin: 0px;
  padding: 0px;
  color: white;
}

.open_nav:hover {
  background-color: rgb(74, 93, 112);
  color: black;
}

/* Active/current link */
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: rgb(74, 93, 112);
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
  width: 60%;
}

p {
  width: 100%;
  margin: 0;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {text-align: center; float: none;}
  div.content {width:80%; margin-left: 10%; margin-right: 10%;}
  .narrow {width: 100%;}
  .choose_satellite{width:100%; }
  .tracker_info{width:100%; }
  .tracker_map{width:100%; }
   h1{margin: 0; text-align: center;}
}