body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100%;
  margin: 0;
  line-height: 1.2;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

p {
  width: 100%;
  margin: 0;
}

/*
================================
General divs
================================
*/

.container{
  position:relative;
  padding:0px;
  height: 100%;
  width: 100%;
}

div.move_content_for_nav{
  height: 100%;
  width: 100%;
  position:relative;
  transition-timing-function: ease-in;
  transition-duration: 200ms;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  height: 100%;
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
  position:relative;
  padding-bottom: 30px;
}

div.red_wide_block {
  background-color: rgb(196, 161, 161);
  color: black;
  width: 100%;
  word-wrap: break-word;
  text-align: center;
  font-weight: bold;
}

div.round_edges{
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.round_edges_left{
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.round_edges_right{
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}


span.middle
{
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  padding: 10px 30px;
}

/*
================================
Header specific
================================
*/

.header{
  background-color: rgb(74, 93, 112);
  color: white;
  margin: 0;
  height: 80px;
  width: 100%;
  line-height: 80px;
  transition-duration: 200ms;
  transition-timing-function: ease-in;
}

/* Style the logo link (notice that we set the same value of line-height and
font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 28px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  position: relative;
  padding-left: 20px;
  transition-duration: 200ms;
  /* transition-timing-function: ease-in; */
  /* padding: 0;
  margin: 0; */
}

div.moving_logo{
  padding-left: 20px;
  transition-duration: 200ms;
  transition-timing-function: ease-in;
}

.header a.logo:hover{
  color: black;
}

.open_nav{
  border: None;
  width: 32px;
  background-color: rgb(114, 135, 155);
  font-size: 32px;
  margin: 0px;
  padding: 0px;
  color: white;
  height: 100%;
  width: 80px;
  position: relative;
}

.open_nav:hover {
  background-color: rgb(74, 93, 112);
  color: black;
}


/*
================================
Sidebar navigation specific
================================
*/

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 0px;
  background-color: #f1f1f1;
  height: 100%;
  overflow: auto;
  position: fixed;
  padding-top: 60px;
  z-index: 100;
  transition-duration: 200ms;
  transition-timing-function: ease-in;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 0px;
  height: 40px;
  width: 40px;
  font-size: 45px;
  margin-left: 50px;
  background-color: #f1f1f1;
  text-align: center;
  line-height: 40px; /* same as height! */
}

.sidebar .closebtn:hover{
  color: red;
  background-color: #f1f1f1;
  cursor: pointer;
}

/* Active/current link */
.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: rgb(74, 93, 112);
  color: white;
}


/*
================================
Home specific
================================
*/
div.home_content {
  width: 700px;
  /* margin-left: 25%;
  margin-right: 25%; */
  margin-top: 3%;
  position:relative;
  text-align: center;
  color: black;
}


/* div.sts_background{
  position: relative;
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  justify-content: center;
} */

/* div.sts_background::before {
  content: "";
  background-image: url("/static/images/space-shuttle-launch-hd-1.jpg");
  background-size: cover;
  background-position: bottom 80% center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.7;
} */

div.sts_background{
  display: flex;
  justify-content: center;
  height: calc(100vh - 80px);
}

div.sts_background::before {
  content: "";
  display: block;
  background-image: url("/static/images/space-shuttle-launch-hd-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.7;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: bottom 90% center;
}

/* div.blue_background{
  background-color: rgb(77,122,146);
  height: calc(100vh - 80px);
  display: flex;
  overflow: auto;
} */

div.blue_backgroundd{
  display: flex;
  justify-content: center;
  height: calc(100vh - 80px);
}

div.blue_background::before {
  content: "";
  display: block;
  background-color: rgb(77,122,146);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

p.home {
  color: black;
  margin-bottom: 40px;
  /* font-weight: bold; */
  margin-top: 1%;
  font-size: 25px;
}

h1.home {
  color: white;
}


.btn-group button {
  background-color: rgb(201, 167, 167); /* red background */
  color: white; /* White text */
  cursor: pointer; /* Pointer/hand icon */
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  width: 200px;
  margin: 10px 5px;
  padding: 5px 20px;
  font-size: 17px;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #cf6565;
}

a.no_text_decoration{
  text-decoration: none;
}

a.white_text{
  color: white;
}

a.font_size_medium{
  font-size: 17px;
}


/*
================================
Satellite tracker specific
================================
*/


div.satellite_tracker_content {
  height: 100%;
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
  position:relative;
}

.choose_satellite{
  width: 100%;
  background-color: #f1f1f1;
}

.satellite_panel{
  width: 100%;
  overflow: hidden;
}

.tracker_info{
  margin-left: 75%;
  padding: 0px;
  height: 450px;
  background-color: #f1f1f1;
  padding: 0.5%;
  height: auto;
}

.tracker_map{
  width: 73%;
  height: 600px;
  float: left;
}

tbody.alternating_colors tr:nth-child(even) {width: 100%; background-color: #bebdbd; padding: 0px; margin: 0px;}
tbody.alternating_colors tr:nth-child(odd) {width: 100%; background-color: #b5ccae; padding: 0px; margin: 0px;}
td {padding: 0px;
  margin: 0px;}

tbody.alternating_colors td:nth-child(1) {
  width: 60%;
}

tbody.alternating_colors td:nth-child(2) {
  width: 40%;
  text-align: right;
}

tbody.alternating_colors table {
  width: 100%;
  box-sizing: border-box;
}

.loading_container{
  border: 1px dashed black;
  width: 100%;
  display: none;
  height: 600px;
  border-color: #f1f1f1;
  border-width: 2px;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid rgb(74, 93, 112); /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media (max-width: 700px) {
  .desktop-only {
    display: none;
  }
}

@media (min-width: 700px) {
  .mobile-only {
    display: none;
  }
}

/*
================================
Profile page specific
================================
*/

/* div.contacts {
  display: inline-block;
  margin-top: 10px;
  background-color: rgb(196, 161, 161);
} */

#cv_opening{
  display: flex;
  width:60%;
  margin: auto;
}

#opening_text{
  opacity: 0.9;
  color: rgb(255, 255, 255);
  margin: auto;
  width: 50%;
  text-align: center;
  padding:0px;
  flex: 6;
  margin-right: 20px;
  padding-bottom: 30px;
}

#personal_image{
  flex: 3;
}



#cv {
  display: flex;
  width: 100%;
}

#contact {
 flex: 1;
 background-color: rgb(159, 175, 190);
 height: 200px;
}

#education {
  flex: 2;
  margin-right: 10px;
  background-color: rgb(159, 175, 190);
  margin-bottom: 50px;
 }

#experience {
  flex: 2;
  margin-right: 10px;
  background-color: rgb(159, 175, 190);
  color: black;
  margin-bottom: 50px;
}


/*
================================
Cv entry
================================
*/


div.cv_entry{
  background-color: #f1f1f1;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

div.cv_entry_title_container{
  display: flex;
  min-height: 60px;
}

div.cv_entry_title{
  flex: 7;
  margin: 6px;
  justify-content:center;
  align-items:center;
  display: flex;
  font-size: 17px;
  font-weight: bold;
}

.cv_entry_logo{
  flex: 1;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content:center;
  align-items:center;
  border: none;
}

.cv_entry_logo:hover{
  background-color: rgb(74, 93, 112);
}

.cv_entry_btn{
  flex: 1;
  display: flex;
  justify-content:center;
  align-items:center;
  border: none;
  transition: 0.4s;
}

.cv_entry_btn:hover{
  background-color: rgb(74, 93, 112);
}

div.cv_entry_content{
  border-top: 1px solid black;
  padding: 0px;
  display: none;
  /* transition-duration: 200ms;
  transition-timing-function: ease-in; */
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.course {
  background-color: #007bff;
  color: #fff;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  text-decoration: none; /* added line */
}

.skill {
  background-color: #77b653;
  color: #fff;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  text-decoration: none; /* added line */
}

.cv_info {
  margin: 0px;
  margin-top: 10px;
  padding-left: 30px;
  padding-bottom: 10px;
}

.cv_info li {
  text-align: left;
}


/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  /* .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  } */
  /* .sidebar a {text-align: center; float: none;} */
  div.home_content {width:90%; padding-left: 5%; padding-right: 5%; margin: 0; padding-top: 20%; font-size: 22px;}
  div.content {width:80%; padding-left: 10%; padding-right: 10%; margin: 0;}

  div.satellite_tracker_content {width:94%; margin-left: 3%; margin-right: 3%; margin-top: 10%; padding: 0px; font-size: 22px;}
  .choose_satellite{width: 100%; margin-top: 10%; padding: 0px; box-sizing: border-box;
  }

  /* #special + br {
    display: block;
    content: "";
  } */

  #special:after {
    content: "\a"; /* \a is the escape sequence for a line break */
    display: block; /* display as block element */
  }

#norad_sat_form{
  margin-top: 10px;
}

#sat_form{
  margin-top: 10px;
}

  .tracker_info{width:100%;
                height: 100%;
                margin-bottom: 5%;
                margin-top: 640px;
                margin-left: 0px;
                margin-right: 0px;
                padding-right: 10px;
                padding-left: 10px;
                box-sizing: border-box;
  }

  .tracker_map{width:100%; height: 600px;}
  .satellite_panel{width: 100%; height: 130%;}


  form { width: 100%; padding: 0; margin: 0;}

  p.home {
    color: black;
    margin-bottom: 40px;
    /* font-weight: bold; */
    margin-top: 1%;
    font-size: 22px;
  }

    h1.home {font-size: 40px; text-align: center; color: white;}
    h1 {text-align: center;}
   .header a.logo{
    font-size: 25px;
    padding-left: 5%;
   }

  .open_nav{
    border: None;
    width: 80px;
    background-color: rgb(114, 135, 155);
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    color: white;
    height: 100%;
    float: right;
    /* left: 90%; */
    position: relative;
  }

  .choose_satellite{
    width: 100%;
    background-color: #f1f1f1;
    padding: 3px 3px;
  }

  div.contacts {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    padding: 0px;
    background-color: rgb(196, 161, 161);
  }

  #cv {
    width: 100%;
    display: block;
  }

  #contact {
   background-color: rgb(159, 175, 190);
  }

  #education {
    margin-right: 10px;
    background-color: rgb(159, 175, 190);
    padding-bottom: 10px;
   }

  #experience {
    margin-right: 10px;
    background-color: rgb(159, 175, 190);
    color: black;
    padding-bottom: 10px;
  }

  #cv_opening{
    display: block;
    width:100%;
    margin: auto;
  }

  #opening_text{
    opacity: 0.9;
    color: white;
    margin: auto;
    width: 100%;
    text-align: center;
    padding:0px;
    margin-right: 20px;
    margin-bottom: 30px;
  }


}