<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Satellite Tracker</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      function startTracking(tle1, tle2, tle3) {
        // Set up a timer to make an AJAX request every 3 seconds
        setInterval(updateMarker, 3000, tle1, tle2, tle3);
      }

      function updateMarker(tle1, tle2, tle3) {
        // Make an AJAX request to your Flask app to get the updated satellite position
        $.ajax({type: 'POST',
               url: "{{url_for('update_satellite_position')}}",
               data: {'tle1': tle1, 'tle2': tle2, 'tle3': tle3},
               success: function(response){

              var lat_response = response.latitude
              var lon_response = response.longitude

              // Update the marker's position on the map using the Google Maps JavaScript API
              map_markers[0].setPosition(new google.maps.LatLng(lat_response , lon_response));

              var lat = document.getElementById('lat');
              var lon = document.getElementById('lon');

              lat.innerHTML = lat_response.toFixed(4)
              lon.innerHTML = lon_response.toFixed(4)

        }});
      }
    </script>
  </head>

  <body>

    {% extends "template.html" %}
    {% block content %}
    <div class = "satellite_tracker_content">
      <h1> Satellite tracker </h1>

        <div class="choose_satellite">
          <p> Choose your satellite: </p>
          <!-- Request satellite in a dropdown menu -->
          <form action="/satellite_tracker" method="POST" enctype="multipart/form-data">
            <label for="satellite">Example satellites: </label>
              <select id="mySelect" name="satellite">
                <option value="iss">ISS</option>
                <option value="icesat2">ICESAT-2</option>
                <option value="hubble"> Hubble</option>
              </select>
            <input type="submit" value="Submit">
          </form>

          <!-- Request satellite in an open field -->
          <form action="/satellite_tracker" method="POST" enctype="multipart/form-data">
            <label for="satellite_norad">Satellite NORAD ID: </label>
            <input type="text" id="form2" name="satellite_norad">
            <input type="submit" value="submit">
          </form>
        </div>
        <br>

        <!-- Respond to chosen satellite -->
          {% if sat_name is defined %}
            <div class="tracker_info">
              You have selected: {{ sat_name }} <br>
              NORAD ID: {{sat_norad}} <br> <br>
              Current position:<br>
              lat = <span id = "lat">{{sat_first_lat}}</span><br>
              lon = <span id = "lon">{{sat_first_lon}}</span>
            </div>

            <br><br>

            <div class="tracker_map">
              {{mymap.html}}
              {{mymap.js}}
            </div>

            <script>
              // Call the startTracking function after the map has been created
              startTracking('{{tle1}}', '{{tle2}}', '{{tle3}}');
            </script>
          {% endif %}

        <!-- Respond if satellite not found -->
        <div>
          {% if no_sat is defined %}
              This NORAD ID is not valid or the satellite could not be found.
          {% endif %}
        </div>
      </div>
    {% endblock %}
  </body>
</html>