<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <script type="text/javascript">
      WebFontConfig = {
        google: { families: [ 'Montserrat::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
    <meta charset="utf-8">
    <title>Webb App Parent Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0">
    <script src="https://kit.fontawesome.com/840a04b753.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static',     filename='css/template.css') }}">
  </head>

  <body>
    <div class="container">
      <div class = "header">
        <a href="{{ url_for('home') }}" class = "logo"> Thomas Goldman </a>
      </div>

      <div class="sidebar">
        <a href="{{ url_for('home') }}"><i class="fa fa-fw fa-home"></i>Home</a>
        <a href="{{ url_for('satellite_tracker') }}"><i class='fas fa-satellite'></i>Satellite Tracker</a>
      </div>

      <div class="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>
 </body>
</html>