<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style>
      @font-face {
        font-family: "Montserrat";
        src: url("{{ url_for('static', filename='fonts/Montserrat-VariableFont_wght.ttf')}}");
        font-style: normal;
        font-weight: 1 1000;
      }
    </style>
    <title>{% block page_title %}Webb App Parent Template{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=10.0">
    <script src="https://kit.fontawesome.com/840a04b753.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    <script src="{{ url_for('static', filename='js/sidenav.js') }}"></script>
    {% block head %}
    {% endblock %}
  </head>

  <body>

      <div class="sidebar" id="mySidebar">
        <span href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</span>
        <a href="{{ url_for('home') }}"><i class="fa fa-fw fa-home"></i>&nbsp;&nbsp;Home</a>
        <a href="{{ url_for('profile') }}"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;&nbsp;My Profile</a>
        <a href="{{ url_for('satellite_tracker') }}"><i class='fas fa-satellite'></i>&nbsp;&nbsp;&nbsp;Satellite Tracker</a>
      </div>

      <div class = "header" id="myHeader">
        <button class="open_nav" onclick="openNav()">&#9776;</i></button>
        <a href="{{ url_for('home') }}" id="myHeaderLogo" class = "logo"> Thomas Goldman </a>
      </div>

      <div class="move_content_for_nav" id = "move_content_for_nav">
        {% block content %}
        {% endblock %}
      </div>

 </body>
</html>